@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h1>Add a category</h1>

<h3>Add a category to this task: @Html.DisplayFor(model => model.Description)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" />
}

<h4>@Html.ActionLink("Back to list", "Index")</h4>