@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h1>Add a new task</h1>
<br>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Add Item" class="input" />
}
<br>
<h4>@Html.ActionLink("Show all items", "Index")</h4>