@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h1>Item Details</h1>

<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.Categories.Count == 0)
{
  <h4>This item does not belong to any categories</h4>
}
else
{
  <h3>Categories the item belongs to:</h3>
  
  @foreach(var join in Model.Categories)
  {
    <h4>@join.Category.Name</h4>
    @using (Html.BeginForm("DeleteCategory", "Items"))
    {
      @Html.Hidden("joinId", @join.CategoryItemId)
      <input type="submit" value="Delete"/>
    }
  }

}

<h4>@Html.ActionLink("Back to list", "Index")</h4>
<h4>@Html.ActionLink("Edit Item", "Edit", new { id = Model.ItemId })</h4>
<h4>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.ItemId })</h4>
<h4>@Html.ActionLink("Delete Item", "Delete", new { id = Model.ItemId })</h4>