@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h1>Edit</h1>

<h3>Edit this task: @Html.DisplayFor(model => model.Description)</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.Label(" Select category ")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" />
}
<br>
<h4>@Html.ActionLink("Back to list", "Index")</h4>