@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category;

<h1>Category Details</h1>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Items.Count == 0)
{
  <h3>This category does not contain any items</h3>
}
else
{
  <h3>Items the category contains:</h3>
  
  @foreach(var join in Model.Items)
  {
    <h4>@join.Item.Description</h4>
  }
  
}
<h4>@Html.ActionLink("Add new item", "Create", "Items")</h4>
<h4>@Html.ActionLink("Back to categories", "Index")</h4>
<h4>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</h4>
<h4>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</h4>